.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

input:focus {
    border-color: blue;
    outline: blue;
}

.match {
    border: 2px solid green;
}

.match:focus {
    border-color: green;
    outline: green;
}

.mismatch {
    border: 2px solid red;
}

.mismatch:focus {
    border-color: red;
    outline: red;
}

input {
    border: 2px solid #000;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
}

input:invalid {
    border-color: red;
}
