html {
    background: url("photo-1497211419994-14ae40a3c7a3.avif") no-repeat center center fixed; 
    background-size: cover;
}

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: row;
}

.logo {
    mix-blend-mode: multiply;
}

.background {
    margin-left: 35%;
    width: 65%;
    height: 100%;
    display: inline-block;
    border-left: solid darkgreen;
}

.container {
    margin-top: 25%;

}

.wording_container {
    padding-left: 50px;
    padding-right: 50px;
    color: rgb(234, 238, 228);
}

.input_container {
    padding-left: 50px;
    padding-right: 50%;
    background-color: beige;
    color: darkgreen;
}

.row {
    display: flex;
    flex-direction: row; 
}

.column {
    display: flex;
    flex-direction: column;
}

input:focus {
    border-color: blue;
    outline: blue;
}

.match {
    border: 2px solid green;
}

.match:focus {
    border-color: green;
    outline: green;
}

.mismatch {
    border: 2px solid red;
}

.mismatch:focus {
    border-color: red;
    outline: red;
}

input {
    border: 2px solid #000;
    margin-bottom: 15px;
    padding: 5px;
    margin-right: 75px;
    border-radius: 5px;
}

.confirm:invalid {
    border-color: red;
}

.submit {
    margin-left: 50px;
    margin-top: 25px;
 
}

#button {
    border: solid darkgreen;
    color: rgb(234, 238, 228);
    background-color: darkgreen;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    font-size: larger;
    font-weight: bolder;
}

#button:hover {
    background-color: rgb(0, 53, 0);
    border: solid rgb(0, 53, 0);
}